/* Los estilos se aplican a todo el documento */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 


body {
color: rgb(236, 239, 241);
background-color: rgb(151, 140, 140);
background-image: url('../laboratorio4/laboratorios-css-Alex-234-lgtm/assets/R.jpeg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-image: linear-gradient(135deg, rgba(190, 139, 28, 0.5), rgba(99, 0, 0, 0.5)),
padding: 0px 20px 10px 20px;
border-style: solid;
border-width: 1px;
border-color: white;
border-radius: 10px;

} 
img.icon {
  border-radius: 25%;
  border: 2px solid rgb(255, 255, 255);
  width: 25px;
  height: 25px;
  
}
img.Foto {
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  width: 200px;
  height: 200px;
  
}
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(39, 39, 39 ,50%);
    color: white;
          
}
 
  header {
    text-align: center;
    padding: 20px;
    background-color: rgba(39, 39, 39 ,50%);
    color: white;
  }
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  .img.center {
    text-align: center;
  }
footer p {
    margin: 0;
    font-size: 14px;
  }
  main {
    margin-top: 20px;
  }
  section {
    margin-bottom: 30px;
    background-color: rgba(39, 39, 39 ,50%);
    padding: 15px;
    border-radius: 8px;
  }
  section h2 {
    margin-top: 0;
    font-size: 28px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
  }
  ul {
    list-style-type: square;
    padding-left: 20px;
  }
  li {
    margin-bottom: 8px;
    font-size: 18px;
  }